.edit-course-container {
  font-family: $font_El;
}

.edit-course-container-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbe2f7;
}

.edit-course-container-inner-body {
  width: 100%;
  max-width: 1250px;
  margin: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
}

.edit-course-container-title {
  margin-bottom: 1.25rem;
  input {
    @include siteinputbox;
    width: 100%;
    height: 42px;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.edit-course-container-btnchanger {
  @include displayflex;
  justify-content: flex-start;
  border-bottom: 1px solid $black;
  margin: 0.5rem 0px 1.4rem;
  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 20px 6px;
    font-size: 18px;
  }
  .bt-active {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
}

.edit-course-submit-btn {
  @include displayflex;
  justify-content: center;
  flex-direction: column;
  margin: 2.25rem 0px 1.5rem;
  button {
    @include sitebutton;
    width: 75%;
  }
}

.edit-course-container-upload-video {
  @include displayflex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 1rem auto;
  padding: 5px;
  border: 1px dotted $black;
  border-radius: 5px;
  background: #f9f9f9;
  svg {
    font-size: 10rem;
    color: #2b4eff;
  }
  .editvideoinput {
    position: relative;
    cursor: pointer;
    padding: 0.5rem 0;
    background-color: transparent;
  }
  .editvideoinput::before {
    width: 100%;
    height: 100%;
    color: white;
    font-family: $font_El;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "Upload Video";
    background-color: $navbar-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    padding: 8px;
    font-size: 15px;
  }
}

.edit-course-container-quiz {
  @include displayflex;
  justify-content: center;
  flex-direction: column;
  margin: 1.8rem 0.5rem;
  h2 {
    color: $navbar-color;
    text-align: center;
    font-size: 2rem;
  }
  .edit-course-container-btn-new-quiz {
    @include sitebutton;
    margin-top: 1.2rem;
  }
}

.edit-course-add-quiz-header {
  @include displayflex;
  flex-wrap: wrap;
  margin: 3px 0px 8px;
  h2 {
    color: $navbar-color;
    font-size: 2rem;
  }
  .edit-course-container-btn-new-quiz {
    @include sitebutton;
    margin-top: 1rem;
    font-size: 16px;
  }
}

.edit-course-add-quiz-card-container {
  margin: 1.5rem 0.4rem;
  min-height: 25vh;
  .edit-add-quiz-card-inner-container {
    margin-bottom: 1rem;
    .edit-add-quiz-card-body {
      @include displayflex;
      flex-wrap: wrap;
      background: #f9f9f9;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 8px 14px;
      h3 {
        color: $navbar-color;
      }
      .my-quiz-Link {
        @include sitebutton;
        background: rgb(250, 80, 80);
        font-size: 16px;
        margin: 2px 1rem;
      }
      .my-quiz-Link:hover {
        background: rgb(250, 50, 50);
      }
    }
  }
}

///////////////////////
@media (max-width: 763px) {
  .edit-course-container-btnchanger {
    button {
      padding: 8px 16px 6px;
      font-size: 16px;
    }
  }

  .edit-course-submit-btn {
    button {
      width: 85%;
    }
  }

  .edit-course-container-upload-video {
    padding: 8px;
    svg {
      font-size: 7rem;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
  }

  .edit-course-add-quiz-header {
    margin: 8px 0px;
    h2 {
      font-size: 1.75rem;
    }
    .edit-course-container-btn-new-quiz {
      margin: 6px;
      font-size: 15px;
    }
  }

  .edit-course-add-quiz-card-container {
    .edit-add-quiz-card-inner-container {
      .edit-add-quiz-card-body {
        padding: 8px;
        h3 {
          font-size: 17px;
          margin-bottom: 10px;
        }
        .my-quiz-Link {
          @include sitebutton;
          background: rgb(250, 80, 80);
          font-size: 16px;
          margin: 2px 1rem;
        }
      }
    }
  }
}
