.my-class-main-container {
  margin-left: 4rem;
}

.my-class-header {
  padding: 1rem;
}

.myclass-details {
  @include displayflex;
  flex-wrap: wrap;
  padding: 1.2rem 0px 1rem;
  gap: 1rem;
}

.class-container{
    padding: 0.75rem;
}

@media (max-width: 763px) {
  .my-class-main-container {
    margin-left: 0px;
  }

  .my-class-header {
    padding: 0.75rem;
  }

  .myclass-details {
    @include displayflex;
    padding: 1rem 0px;
    gap: 0.75rem;
  }
}
