$font_El: "El Messiri",
sans-serif;
$font_sans: 'Open Sans',
sans-serif;
$navbar_color: #2b4eff;
$footer_color: #0C0F33;
$black: #171c24;
$grey: #FAFBFF;
$darkgrey: #53545b;
$dash: #171C24;
$success: #5CB85C;