.home-head-container {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: $font_El;
}
.home-quote {
  @include displayflex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
  transform: translateY(-50px);
}
.home-quote p {
  margin-top: 1rem;
  color: $black;
  text-align: justify;
}

.home-quote h1 {
  color: #2e2e2e;
}

.svg-image {
  width: 50%;
  padding: 1rem;
  @include displayflex;
  justify-content: center;
  img {
    width: 80%;
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.2));
  }
}

.my-home-img-container {
  @include displayflex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.my-home-img {
  width: 85%;
}

@media screen and (max-width: 1150px) {
  .svg-image {
    img {
      width: 90%;
    }
  }
}

@media screen and (max-width: 991px) {
  .home-head-container {
    margin-top: 3.5rem;
    padding: 1rem;
  }
  .home-quote {
    width: 100%;
    padding: 1rem 0px;
  }

  .svg-image {
    width: 100%;
    padding: 0px;
    img {
      width: 500px;
    }
  }
  .my-home-img {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .home-head-container {
    padding: 0.5rem;
  }
  .home-quote {
    width: 100%;
    padding: 1rem 0px;
  }

  .home-quote p {
    font-size: 15px;
  }

  .svg-image {
    width: 100%;
    padding: 0px;
    img {
      width: 100%;
    }
  }
  .my-home-img {
    width: 100%;
  }
}
