.pagenotfound {
    @include displayflex;
    flex-direction: column;
    background: #FAFBFF;
    padding: 2rem;
    img {
        width: 50%;
    }
    p {
        font-family: $font_El;
        font-size: 18px;
        padding: 0.2rem;
    }
    a {
        button {
            @include sitebutton;
            margin: 1rem;
        }
    }
}

@media screen and (max-width: 1100px) {
    .pagenotfound {
        img {
            width: 65%;
        }
    }
}

@media screen and (max-width: 773px) {
    .pagenotfound {
        justify-content: flex-start;
        height: 110vh;
        img {
            width: 85%;
        }
        p {
            font-size: 15px;
            padding: 0.5rem;
        }
        a {
            button {
                margin: 1.2rem;
            }
        }
    }
}