// Styling the Footer of website 
.foo {
    position: relative;
    padding: 4rem 2rem;
    color: #a1a2ab;
    background: $footer_color;
    z-index: 10;
}

.foo .foo-container {
    @include displayflex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.foo .foo-container .foo-brand {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    margin: 1rem;
    div {
        display: flex;
        margin-bottom: 2rem;
        h1 {
            color: #fff;
            font-family: $font_El;
            margin-left: 5.2rem;
        }
        img {
            position: absolute;
            width: 5rem;
            top: 3rem;
        }
    }
    p {
        font-size: 15px;
        text-align: justify;
        margin-bottom: 2rem;
    }
    a {
        font-size: 2rem;
        margin-right: 1.5rem;
        color: #0000FF;
    }
}

.foo .foo-container .foo-feature,
.foo .foo-container .foo-platform,
.foo .foo-container .foo-Subscribe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 150px;
    margin: 1rem;
    h2 {
        color: #fff;
        font-family: $font_El;
    }
    a {
        color: #a1a2ab;
        margin-top: 0.7rem;
    }
    a:hover {
        color: #fcfcfc;
    }
    span {
        font-size: 15px;
    }
}

.foo .foo-container .foo-Subscribe {
    width: 280px;
}

.foo .foo-container .foo-Subscribe div {
    @include displayflex;
    margin: 2rem 0px 1.5rem;
    background: #fff;
    border-radius: 4px;
    input {
        border: none;
        outline: none;
        background: transparent;
        color: #a1a2ab;
        font-size: 15px;
        padding: 18px 10px;
        border-radius: 4px 0px 0px 4px;
    }
    span {
        font-size: 1.4rem;
        background-color: $navbar_color;
        color: #fff;
        cursor: pointer;
        padding: 12px 1rem;
        border-radius: 0px 4px 4px 0px;
    }
}
.login-warning{
    display: none;
    color: red;
}
.teacher-warning{
    display: none;
    color: red;
}
.foo-bottom {
    color: #a1a2ab;
    background: $footer_color;
    font-size: 14px;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #a1a2ab;
}

#foo-success,
#foo-fail {
    font-size: 15px;
    font-family: $font_El !important;
    color: #4BB543 !important;
    display: none;
}

#foo-fail {
    color: red !important;
}